@import "../../../common/styles/variable";

.full-player{
  .lyric-list{
    li{
      padding: 5px 0;
      color: $color-text-d;
      text-align: center;
      &.active{
        color: $color-text;
      }
    }
  }
}
