@import "../../common/styles/variable";

.windy-scroll-x{
  width: 100%;
  overflow: hidden;
  &.has-dot{
    padding-bottom: 20px;
    position: relative;
  }
  .scroll-x-dot-group{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 8%;
    background: #d9d9d9;
    overflow: hidden;
    height: 2px;
    border-radius: 1px;
    .scroll-x-dot{
      height: 100%;
      background: $primary-color;
      position: absolute;
      border-radius: inherit;
    }
  }
}
