.windy-scroll-y-wrapper{
  height: 100%;
  position: relative;
  .loading-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
  }
  .scroll-y{
    height: 100%;
  }
  .loading-y{
    font-size: 18px;
  }
}
