@import "../../common/styles/variable";
@import "../../common/styles/mixin";

.songs-list-wrapper{
  height: 100%;
  overflow-y: auto;
  .songs-list{
    *{
      transition: all ease .2s;
    }
    li{
      color: $color-text-d;
      font-size: 14px;
      padding: 3px 0;
      display: flex;
      align-items: center;
      &:hover{
        cursor: pointer;
        color: $color-text;
      }
      &.playing{
        font-size: 16px;
        color: $color-text;
      }
      .vip{
        box-sizing: content-box;
        width: 18px;
        padding-right: 5px;
        display: flex;
        align-items: center;
        img{
          width: 100%;
        }
      }
      .wave{
        box-sizing: content-box;
        width: 10px;
        padding-right: 8px;
        display: flex;
        align-items: center;
        img{
          width: 100%;
        }
      }
      .title{
        flex: 1;
        width: 100%;
        @include no-wrap;
      }
    }
  }
}
