@import "../../common/styles/variable";
@import "../../common/styles/mixin";

.songs-list-wrapper{
  height: 100%;
  overflow: hidden;
  .songs-list{
    *{
      transition: all ease .2s;
    }
    .del-exit {
      opacity: 1;
      transform: translateX(0);
    }
    .del-exit-active {
      opacity: 0;
      transform: translateX(-100%);
      transition: all ease 300ms;
    }
    li{
      color: $color-text-d;
      font-size: 14px;
      padding: 5px 15px;
      display: flex;
      align-items: center;
      .title{
        width: 100%;
        flex: 1;
        @include no-wrap;
        span{
          &.playing{
            .title{
              font-size: 16px;
              color: $color-text;
            }
          }
          &:hover{
            cursor: pointer;
            color: $color-text;
          }
        }
      }
      .vip{
        box-sizing: content-box;
        width: 18px;
        padding-right: 5px;
        display: flex;
        align-items: center;
        img{
          width: 100%;
        }
      }
      .wave{
        box-sizing: content-box;
        width: 10px;
        padding-right: 8px;
        display: flex;
        align-items: center;
        img{
          width: 100%;
        }
      }
      .operations{
        padding: 0 10px 0 0;
        font-size: 16px;
        svg{
          &:hover{
            cursor: pointer;
            color: $color-text;
          }
        }
      }
    }
  }
}
