@import "../../common/styles/variable";
@import "../../common/styles/mixin";

.collections{
  position: relative;
  .cd-content{
    padding: 0 20px;
  }
  .cd-title{
    font-size: 18px;
    text-align: center;
    color: $color-chicken;
    padding: 0 40px;
    @include no-wrap;
  }
  .cd-list{
    .cd{
      display: flex;
      align-items: center;
      padding: 5px;
      .cover{
        .cover-wrapper{
          height: 0;
          padding: 50% 0;
          position: relative;
          width: 80px;
        }
        img{
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      .diss-name{
        flex: 1;
        width: 100%;
        padding: 0 20px;
        font-size: 14px;
        display: block;
        @include no-wrap;
        color: $color-text;
        &:hover{
          color: $color-chicken;
        }
      }
      .listen-count{
        width: 20%;
        white-space: pre;
      }
    }
  }
  .opacity-transition {
    transition: opacity ease 300ms;
  }
  .opacity-enter {
    opacity: 0;
  }
  .opacity-enter-active {
    opacity: 1;
    transition: opacity ease 300ms;
  }
  .opacity-enter-done {
    opacity: 1;
  }
  .opacity-exit {
    opacity: 1;
  }
  .opacity-exit-active {
    opacity: 0;
    transition: opacity ease 300ms;
  }
  .opacity-exit-done {
    opacity: 0;
  }
}
