@import "../../../common/styles/variable";
.collections-detail{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .cd-detail-header{
    position: relative;
    .back{
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 24px;
      color: $color-chicken;
      &:hover{
        cursor: pointer;
      }
    }
  }
  .cd-detail-list{
    padding: 20px;
  }
}
