@import "../../../common/styles/variable";
.collections-detail{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .cd-detail-header{
    position: relative;
    .back{
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 24px;
      color: $color-chicken;
      &:hover{
        cursor: pointer;
      }
    }
  }
  .cd-detail-list{
    padding: 20px;
  }
  &.slide-enter {
    opacity: 0;
    transform: translateX(100%);
  }
  &.slide-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all ease 300ms;
  }
  &.slide-exit {
    opacity: 1;
    transform: translateX(0);
  }
  &.slide-exit-active {
    opacity: 0;
    transform: translateX(100%);
    transition: all ease 300ms;
  }
}
