@import "../../common/styles/variable";
@import "../../common/styles/mixin";

.mini-player{
  @keyframes rotate {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }
  padding: 10px;
  position: relative;
  display: flex;
  align-items: center;
  border-top: 1px solid $color-border;
  .play-info{
    display: flex;
    align-items: center;
    width: 20%;
    &:hover{
      cursor: pointer;
    }
    .info{
      padding: 0 0 0 10px;
      flex: 1;
      width: 100%;
      overflow: hidden;
      .name{
        color: $color-text;
        @include no-wrap;
      }
      .desc{
        color: $color-text-d;
        @include no-wrap;
      }
    }
    .img{
      width: 40px;
      overflow: hidden;
      img{
        width: 100%;
        border-radius: 50%;
      }
      &.play {
        animation: rotate 10s linear infinite;
      }
      &.pause {
        animation-play-state: paused;
      }
    }
  }
  .middle{
    width: 60%;
    display: flex;
    align-items: center;
    .control{
      display: flex;
      align-items: center;
      & > div{
        padding: 0 5px;
        &.mode{
          padding-right: 10px;
        }
      }
      .control-icon{
        font-size: 28px;
        color: $color-chicken;
        &.mode-icon{
          font-size: 30px;
        }
        &.loading{
          color: $color-chicken-d;
          &:hover{
            cursor: default;
          }
        }
        &:hover{
          cursor: pointer;
        }
      }
    }
    .lyric-progress{
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
      width: 100%;
      overflow: hidden;
      .lyric-snapshot{
        width: 100%;
        @include no-wrap;
        color: $color-text-d;
        height: 20px;
        text-align: center;
        -webkit-user-select: none;
        &:hover{
          cursor: pointer;
        }
      }
      .progress-wrapper{
        display: flex;
        align-items: center;
        color: $color-text-d;
        width: 100%;
        .progress{
          flex: 1;
        }
        .now{
          padding: 0 8px 0 0;
        }
        .duration{
          padding: 0 0 0 8px;
        }
      }
    }
  }
  .right{
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: flex-end;
    padding: 0 10px;
    .favorite, .not-favorite{
      font-size: 30px;
      &:hover{
        cursor: pointer;
      }
    }
    .favorite{
      color: $color-favorite;
    }
    .not-favorite{
      color: $color-chicken;
    }
    .volume{
      display: flex;
      align-items: center;
      padding: 0 0 0 10px;
      .volume-icon{
        font-size: 22px;
        color: $color-chicken;
        &:hover{
          cursor: pointer;
        }
        padding: 0 3px 0 10px;
      }
      .volume-progress{
        width: 60px;
        .volume-dot{
          position: absolute;
          left: 100%;
          top: 50%;
          width: 5px;
          height: 10px;
          transform: translate(-50%, -50%);
          border: 1px solid $color-chicken;
          background: #ffffff;
        }
      }
      .volume-num{
        font-size: $color-text-d;
        padding: 0 0 0 3px;
        width: 25px;
      }
    }
  }
}
