@import "../../common/styles/variable";
@import "../../common/styles/mixin";

$color-windy-l: rgba(255,205,49,.5);
$color-windy: #ffcd32;
$color-favorite: #d93f30;

.windy-player-wrapper{
  @keyframes rotate {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }
  .normal-player {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 150;
    background: #222222;
    .background {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity: 0.6;
      filter: blur(20px);
    }
    .top {
      position: relative;
      margin-bottom: 25px;
      .back {
        position: absolute;
        top: 0;
        left: 6px;
        z-index: 50;
        .icon-back {
          display: block;
          padding: 9px;
          font-size: $font-size-large-x;
          color: $color-windy;
          transform: rotate(-90deg);
        }
      }
      .title {
        width: 70%;
        margin: 0 auto;
        line-height: 40px;
        text-align: center;
        @include no-wrap;
        font-size: $font-size-large;
        color: #ffffff;
      }
      .subtitle {
        line-height: 20px;
        text-align: center;
        font-size: $font-size-medium;
        color: #ffffff;
      }
    }
    .middle {
      position: absolute;
      width: 100%;
      top: 80px;
      bottom: 170px;
      white-space: nowrap;
      font-size: 0;
      .middle-l {
        display: inline-block;
        vertical-align: top;
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 80%;
        .cd-wrapper {
          position: absolute;
          left: 10%;
          top: 0;
          width: 80%;
          height: 100%;
          .cd {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            border: 10px solid rgba(255, 255, 255, 0.1);
            border-radius: 50%;
            &.play {
              animation: rotate 20s linear infinite;
            }
            &.pause {
              animation-play-state: paused;
            }
            .image {
              width: 100%;
              height: 100%;
              border-radius: 50%;
            }
          }
        }
        .playing-lyric-wrapper {
          width: 80%;
          overflow: hidden;
          text-align: center;
          .playing-lyric {
            height: 20px;
            line-height: 20px;
            font-size: $font-size-medium;
            color: rgba(255, 255, 255, 0.5);
          }
        }
      }
      .middle-r {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        height: 100%;
        overflow: hidden;
        .lyric-wrapper {
          width: 80%;
          margin: 0 auto;
          overflow: hidden;
          text-align: center;
          .text {
            line-height: 32px;
            color: rgba(255, 255, 255, 0.5);
            font-size: $font-size-medium;
            &.current {
              color: #ffffff;
            }
          }
        }
      }
    }
    .bottom {
      position: absolute;
      bottom: 50px;
      width: 100%;
      .dot-wrapper {
        text-align: center;
        font-size: 0;
        .dot {
          display: inline-block;
          vertical-align: middle;
          margin: 0 4px;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: rgba(255, 255, 255, 0.5);
          &.active {
            width: 20px;
            border-radius: 5px;
            background: rgba(255, 255, 255, 0.8);
          }
        }
      }
      .progress-wrapper {
        display: flex;
        align-items: center;
        width: 80%;
        margin: 0 auto;
        padding: 10px 0;
        .time {
          color: #ffffff;
          font-size: $font-size-small;
          flex: 0 0 30px;
          line-height: 30px;
          width: 30px;
          &.time-l {
            text-align: left;
          }
          &.time-r {
            text-align: right;
          }
        }
        .progress-bar-wrapper {
          flex: 1;
        }
      }
      .operators {
        display: flex;
        align-items: center;
        .icon {
          flex: 1;
          color: $color-windy;
          font-size: 32px;
          display: inline-block;
          &.disabled {
            color: $color-windy-l;
          }
        }
        .windy-icon{
          vertical-align: middle;
        }
        .i-left {
          text-align: right;
        }
        .i-center {
          padding: 0 20px;
          text-align: center;
          font-size: 42px;
        }
        .i-right {
          text-align: left;
        }
        .icon-favorite {
          color: $color-favorite;
        }
      }
    }
    &.normal-enter-active, &.normal-exit-active {
      transition: all 0.4s;
      .top, .bottom {
        transition: all 0.4s cubic-bezier(0.86, 0.18, 0.82, 1.32);
      }
    }
    &.normal-enter {
      opacity: 0;
      .top {
        transform: translate3d(0, -100px, 0)
      }
      .bottom {
        transform: translate3d(0, 100px, 0);
      }
    }
    &.normal-enter-active {
      opacity: 1;
      .top {
        transform: translate3d(0, 0, 0);
      }
      .bottom {
        transform: translate3d(0, 0, 0);
      }
    }
    &.normal-exit {
      opacity: 1;
      .top {
        transform: translate3d(0, 0, 0)
      }
      .bottom {
        transform: translate3d(0, 0, 0);
      }
    }
    &.normal-exit-active {
      opacity: 0;
      .top {
        transform: translate3d(0, -100px, 0);
      }
      .bottom {
        transform: translate3d(0, 100px, 0);
      }
    }
  }
  .mini-player {
    display: flex;
    align-items: center;
    z-index: 180;
    padding: 5px 0;
    background: #333333;
    .windy-player-progress{
      .circle-trail{
        stroke: $color-windy-l;
      }
      .circle-path{
        stroke: $color-windy;
      }
      .windy-circle-progress-middle{
        display: flex;
        justify-content: center;
      }
    }
    &.mini-enter {
      opacity: 0;
    }
    &.mini-enter-active{
      opacity: 1;
    }
    &.mini-exit{
      opacity: 1;
    }
    &.mini-exit-active {
      opacity: 0;
    }
    &.mini-enter-active, &.mini-exit-active{
      transition: transform .3s ease, opacity .3s ease;
    }
    .icon {
      flex: 0 0 40px;
      width: 40px;
      margin: 0 10px 0 20px;
      display: flex;
      align-items: center;
      img {
        border-radius: 50%;
        &.play {
          animation: rotate 10s linear infinite;
        }
        &.pause {
          animation-play-state: paused;
        }
      }
    }
    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      line-height: 20px;
      overflow: hidden;
      .name {
        margin-bottom: 2px;
        @include no-wrap;
        font-size: $font-size-medium;
        color: #ffffff;
      }
      .desc {
        @include no-wrap;
        font-size: $font-size-small;
        color: rgba(255, 255, 255, 0.3);
      }
    }
    .control {
      flex: 0 0 30px;
      width: 30px;
      margin: 0 10px;
      .play-icon, .pause-icon{
        color: $color-windy-l;
        font-size: 14px;
        display: block;
      }
      .ctrl-icon {
        font-size: 30px;
        color: $color-windy-l;
      }
      &.right-control{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .icon-mini {
        font-size: 32px;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
}
