@import "../../common/styles/variable";
@import "../../common/styles/mixin";

.home{
  .home-wrapper{
    display: flex;
    height: 100%;
  }
  .home-content{
    flex: 1;
    height: 100%;
    overflow: hidden;
    .ranks-list{
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      overflow-y: auto;
    }
    .rank{
      width: 33.33%;
      padding: 15px;
      * {
        transition: all ease .2s;
      }
      .rank-wrapper{
        background: $color-background-l;
        border-radius: 5px;
        overflow: hidden;
        display: block;
        &:hover{
          cursor: pointer;
          box-shadow: 5px 5px 3px #000000;
          transform: scale(1.02);
          .mask{
            background: rgba(0, 0, 0, 0);
          }
        }
      }
      .poster{
        width: 100%;
        position: relative;
        img{
          width: 100%;
          display: block;
        }
        .mask{
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(0, 0, 0, .4);
        }
        .hot{
          color: $color-text-inactive;
          position: absolute;
          right: 5px;
          bottom: 5px;
        }
      }
      .eg-songs{
        li{
          padding: 5px 10px;
          color: $color-text-d;
          @include no-wrap;
        }
      }
    }
  }
}
