@import '~antd/dist/antd.less';

#root{
  height: 100%;
  overflow-y: auto;
}
.root-container{
  .spin-wrapper{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}