@import "../../common/styles/mixin";

.windy-slider{
  overflow: hidden;
  width: 100%;
  position: relative;
  .slide-item{
    transform: translate3d(0,0,0);
    backface-visibility: hidden;
  }
  .slider-group{
    @include clearFix;
    .slide-item{
      float: left;
      & > *{
        width: 100%;
      }
    }
  }
  .slider-group-vertical{
    height: 100%;
  }
  .dot-group{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    span{
      background: #eeeeee;
      display: inline-block;
      margin: 0 3px;
      height: 8px;
      width: 8px;
      border-radius: 50%;
      &.active{
        width: 20px;
        border-radius: 5px;
      }
    }
    &.dot-group-right{
      right: 10px;
      top: 50%;
      left: auto;
      bottom: auto;
      transform: translateY(-50%);
      display: flex;
      flex-direction: column;
      span{
        margin: 3px 0;
        &.active{
          width: 8px;
          height: 20px;
        }
      }
    }
  }
}
